Repository kokuwaio/micronaut-openapi-codegen: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, lint, renovate, yaml, markdown, shellcheck, verify

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
          from_secret: sonatype_org_username
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:42
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/*.yaml'
  ...

renovate:
  image: kokuwaio/renovate-config-validator:42
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck:v0.11.0
  depends_on: []

verify:
  steps:
    maven:
      image: maven:3.9.12-eclipse-temurin-17
      commands: mvn verify --settings=.woodpecker/maven/settings.xml
    git:
      image: maven:3.9.12-eclipse-temurin-17
      commands: .woodpecker/maven/git-check.sh

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.15 to 4.10.16
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update org.openapitools from 7.22.0 to 7.23.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.23.0
  gen/main/java/testmodel/spring/Model.java
Due: none

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.16 to 5.0.2
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes micronaut by v5
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/lint.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  pom.xml
  src/it/pom.xml
  src/it/test-api-async-reactor-generic/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-async-reactor-nogeneric/pom.xml
  src/it/test-api-async-reactor-nogeneric/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-async-rxjava2-generic/pom.xml
  src/it/test-api-async-rxjava2-generic/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-async-rxjava2-generic/src/main/java/codegen/server/ResponseController.java
  src/it/test-api-async-rxjava2-generic/src/test/java/codegen/client/MediatypeClientTest.java
  src/it/test-api-async-rxjava2-generic/src/test/java/codegen/client/ResponseClientTest.java
  src/it/test-api-async-rxjava2-nogeneric/pom.xml
  src/it/test-api-async-rxjava2-nogeneric/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-async-rxjava2-nogeneric/src/main/java/codegen/server/ResponseController.java
  src/it/test-api-async-rxjava2-nogeneric/src/test/java/codegen/client/MediatypeClientTest.java
  src/it/test-api-async-rxjava2-nogeneric/src/test/java/codegen/client/ResponseClientTest.java
  src/it/test-api-async-rxjava3-generic/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-async-rxjava3-nogeneric/src/main/java/codegen/server/MediaTypeController.java
  src/it/test-api-nogeneric/src/main/java/codegen/server/ResponseController.java
  src/it/test-api-records/src/test/java/codegen/server/MediatypeControllerTest.java
  src/it/test-api/src/test/java/codegen/server/MediatypeControllerTest.java
Due: deploy, lint, renovate, yaml, markdown, shellcheck, verify

chore(deps): update dependency org.sonatype.central:central-publishing-maven-plugin from 0.10.0 to 0.11.0
  pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.0.2 to 5.0.3
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: skip auth for anonymous security alternatives
  src/main/java/org/openapitools/codegen/languages/MicronautCodegen.java
  src/test/java/org/openapitools/codegen/languages/MicronautCodegenTest.java
  src/test/resources/openapi/test-anonymous-security.yaml
Due: deploy, lint, yaml, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.0.3 to 5.0.4
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.0.4 to 5.0.5
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update org.openapitools from 7.23.0 to 7.24.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.24.0
  gen/main/java/testmodel/jaxrs/InheritanceWithEnumType.java
  gen/main/java/testmodel/jaxrs/InheritanceWithStringType.java
  gen/main/java/testmodel/jaxrs/InheritanceWithoutType.java
  gen/main/java/testmodel/jaxrs/OneOfInterface.java
  gen/main/java/testmodel/spring/AdditionalPropertiesModel.java
  gen/main/java/testmodel/spring/AdditionalPropertiesModelValue.java
  gen/main/java/testmodel/spring/EnumerationModel.java
  gen/main/java/testmodel/spring/FirstModel.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType1.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType2.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType3.java
  gen/main/java/testmodel/spring/InheritanceWithStringType.java
  gen/main/java/testmodel/spring/InheritanceWithStringType1.java
  gen/main/java/testmodel/spring/InheritanceWithStringType2.java
  gen/main/java/testmodel/spring/InheritanceWithoutType.java
  gen/main/java/testmodel/spring/InheritanceWithoutType1.java
  gen/main/java/testmodel/spring/InheritanceWithoutType2.java
  gen/main/java/testmodel/spring/Model.java
  gen/main/java/testmodel/spring/OneOfImplementor1.java
  gen/main/java/testmodel/spring/OneOfImplementor2.java
  gen/main/java/testmodel/spring/OneOfInterface.java
  gen/main/java/testmodel/spring/OneOfModel.java
  gen/main/java/testmodel/spring/PropertyTypeOne.java
  gen/main/java/testmodel/spring/PropertyTypeTwo.java
  gen/main/java/testmodel/spring/SecondLevelModel.java
  gen/main/java/testmodel/spring/SecondLevelOneModel.java
  gen/main/java/testmodel/spring/SecondLevelTwoModel.java
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.5.0 to 3.5.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.openapitools:jackson-databind-nullable from 0.2.10 to 0.2.11
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.0.5 to 5.0.6
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.0.6 to 5.1.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

fix: authentication was not generated for methods without params
  gen/main/java/testsecurity/auth/server/SecurityApi.java
  gen/main/java/testsecurity/types/SecurityApi.java
  src/main/resources/Micronaut/apiServer.mustache
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.1.0 to 5.1.1
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: perform validation of complex models outside collections
  gen/main/java/issue/_331/DefaultApi.java
  gen/main/java/issue/_331/DefaultApiClient.java
  gen/main/java/testapi/async/reactor/ParameterApiClient.java
  gen/main/java/testapi/async/reactor/ValidationApiClient.java
  gen/main/java/testapi/async/simple/ParameterApiClient.java
  gen/main/java/testapi/async/simple/ValidationApiClient.java
  gen/main/java/testapi/constants/ParameterApiClient.java
  gen/main/java/testapi/constants/ValidationApiClient.java
  gen/main/java/testapi/defaults/ParameterApiClient.java
  gen/main/java/testapi/defaults/ValidationApiClient.java
  gen/main/java/testapi/modelsuffix/ParameterApiClient.java
  gen/main/java/testapi/modelsuffix/ValidationApiClient.java
  gen/main/java/testapi/nogeneric/ParameterApiClient.java
  gen/main/java/testapi/nogeneric/ValidationApiClient.java
  gen/main/java/testapi/nooptional/ParameterApiClient.java
  gen/main/java/testapi/nooptional/ValidationApiClient.java
  gen/main/java/testapi/packages/api/ParameterApiClient.java
  gen/main/java/testapi/packages/api/ValidationApiClient.java
  gen/main/java/testapi/types/ParameterApiClient.java
  gen/main/java/testapi/types/ValidationApiClient.java
  gen/test/java/issue/_331/DefaultApiTestClient.java
  src/it/issue-331/src/test/java/codegen/DefaultApiClientTest.java
  src/main/resources/Micronaut/apiClientParams.mustache
  src/test/resources/openapi/issue-331.yaml
Due: deploy, lint, yaml, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.1.1 to 5.1.2
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update org.openapitools from 7.24.0 to 7.25.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.25.0
  gen/main/java/testmodel/spring/AdditionalPropertiesModel.java
  gen/main/java/testmodel/spring/AdditionalPropertiesModelValue.java
  gen/main/java/testmodel/spring/EnumerationModel.java
  gen/main/java/testmodel/spring/FirstModel.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType1.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType2.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType3.java
  gen/main/java/testmodel/spring/InheritanceWithStringType.java
  gen/main/java/testmodel/spring/InheritanceWithStringType1.java
  gen/main/java/testmodel/spring/InheritanceWithStringType2.java
  gen/main/java/testmodel/spring/InheritanceWithoutType.java
  gen/main/java/testmodel/spring/InheritanceWithoutType1.java
  gen/main/java/testmodel/spring/InheritanceWithoutType2.java
  gen/main/java/testmodel/spring/Model.java
  gen/main/java/testmodel/spring/OneOfImplementor1.java
  gen/main/java/testmodel/spring/OneOfImplementor2.java
  gen/main/java/testmodel/spring/OneOfInterface.java
  gen/main/java/testmodel/spring/OneOfModel.java
  gen/main/java/testmodel/spring/PropertyTypeOne.java
  gen/main/java/testmodel/spring/PropertyTypeTwo.java
  gen/main/java/testmodel/spring/SecondLevelModel.java
  gen/main/java/testmodel/spring/SecondLevelOneModel.java
  gen/main/java/testmodel/spring/SecondLevelTwoModel.java
  src/test/java/org/openapitools/codegen/languages/OtherCodegenTest.java
Due: verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.1.2 to 5.1.3
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.15.0 to 3.16.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.6 to 3.6.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.1.3 to 5.1.4
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 5.1.4 to 5.1.5
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.codehaus.mojo:build-helper-maven-plugin from 3.6.1 to 3.6.2
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.codehaus.mojo:tidy-maven-plugin from 1.4.0 to 1.4.1
  pom.xml
Due: deploy, verify

chore(deps): update dependency org.apache.maven.plugins:maven-deploy-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: deploy, verify

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, pom.xml, src/main/**
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.sh, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.sh, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.sh, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.sh, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.sh, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.sh)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
