Repository kokuwaio/micronaut-openapi-codegen: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, lint, renovate, yaml, markdown, shellcheck, verify

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/micronaut-openapi-codegen
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, pom.xml, src/main/**]

steps:

  maven:
    image: maven:3.9.11-eclipse-temurin-17
    commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
    environment:
      MAVEN_GPG_KEY: {from_secret: woodpecker_gpg_key}
      SONATYPE_ORG_USERNAME: {from_secret: sonatype_org_username}
      SONATYPE_ORG_PASSWORD: {from_secret: sonatype_org_password}

.woodpecker/lint.yaml:

when:
  event: [manual, pull_request, push]
  branch: main
  path: [.woodpecker/lint.yaml, renovate.json, "**/*.sh", "**/*.yaml", "**/*.md"]

steps:

  renovate:
    image: kokuwaio/renovate-config-validator:42
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, renovate.json]]

  yaml:
    image: kokuwaio/yamllint:v1.37.1
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, "**/*.yaml"]]

  markdown:
    image: kokuwaio/markdownlint:0.45.0
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, "**/*.md", .markdownlint.yaml]]

  shellcheck:
    image: kokuwaio/shellcheck:v0.11.0
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, "**/*.sh"]]

.woodpecker/verify.yaml:

when:
  instance: ci.kokuwa.io
  event: [manual, pull_request]
  path: [.woodpecker/verify.yaml, pom.xml, src/**]

steps:

  maven:
    image: maven:3.9.12-eclipse-temurin-17
    commands: mvn verify --settings=.woodpecker/maven/settings.xml

  git:
    image: maven:3.9.12-eclipse-temurin-17
    commands: .woodpecker/maven/git-check.sh

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update org.openapitools from 7.18.0 to 7.19.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.19.0
  gen/main/java/testmodel/spring/AdditionalPropertiesModel.java
  gen/main/java/testmodel/spring/EnumerationModel.java
  gen/main/java/testmodel/spring/FirstModel.java
  gen/main/java/testmodel/spring/InheritanceExtended.java
  gen/main/java/testmodel/spring/InheritanceSimple.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType1.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType2.java
  gen/main/java/testmodel/spring/InheritanceWithEnumType3.java
  gen/main/java/testmodel/spring/InheritanceWithStringType.java
  gen/main/java/testmodel/spring/InheritanceWithStringType1.java
  gen/main/java/testmodel/spring/InheritanceWithStringType2.java
  gen/main/java/testmodel/spring/InheritanceWithoutType.java
  gen/main/java/testmodel/spring/InheritanceWithoutType1.java
  gen/main/java/testmodel/spring/InheritanceWithoutType2.java
  gen/main/java/testmodel/spring/Model.java
  gen/main/java/testmodel/spring/OneOfImplementor1.java
  gen/main/java/testmodel/spring/OneOfImplementor2.java
  gen/main/java/testmodel/spring/PropertyTypeOne.java
  gen/main/java/testmodel/spring/PropertyTypeTwo.java
  gen/main/java/testmodel/spring/SecondLevelOneModel.java
  gen/main/java/testmodel/spring/SecondLevelTwoModel.java
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.1 to 3.15.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(deps): update dependency org.openapitools:jackson-databind-nullable from 0.2.8 to 0.2.9
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.7 to 4.10.8
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.4 to 3.5.5
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.8 to 4.10.9
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, shellcheck

chore(ci): use external mirror domain
  .woodpecker/maven/settings.xml
  .woodpecker/verify.yaml
Due: lint, yaml, verify

fix: support array-type schemas
  src/main/java/org/openapitools/codegen/languages/MicronautCodegen.java
  src/main/resources/Micronaut/modelPojo.mustache
Due: deploy, verify

chore(deps): update org.openapitools from 7.19.0 to 7.20.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.20.0
  gen/main/java/testmodel/jaxrs/AdditionalPropertiesModel.java
  gen/main/java/testmodel/jaxrs/EnumerationInteger.java
  gen/main/java/testmodel/jaxrs/EnumerationNumber.java
  gen/main/java/testmodel/jaxrs/EnumerationString.java
  gen/main/java/testmodel/jaxrs/EnumerationStringDefault.java
  gen/main/java/testmodel/jaxrs/InheritanceWithEnumTypeEnum.java
Due: none

add test to check if model is a list
  src/it/issue-460/pom.xml
  src/it/issue-460/src/test/java/codegen/ModelTest.java
  src/test/resources/openapi/issue-460.yaml
Due: lint, yaml, verify

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.4.0 to 3.5.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update maven docker tag from 3.9.12-eclipse-temurin-17 to 3.9.14-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify

fix: sealed interfaces (#513)
  src/it/issue-512/pom.xml
  src/main/resources/Micronaut/modelInterface.mustache
  src/test/resources/openapi/issue-512.yaml
Due: deploy, lint, yaml, verify

fix: array-type schemas (#511)
  gen/main/java/issue/_315/ServiceScopesEntry.java
  src/it/issue-460/pom.xml
  src/it/issue-460/src/test/java/codegen/ModelTest.java
  src/main/java/org/openapitools/codegen/languages/MicronautCodegen.java
  src/main/resources/Micronaut/modelPojo.mustache
  src/test/resources/openapi/issue-460.yaml
Due: deploy, lint, yaml, verify

[maven-release-plugin] prepare release 4.5.1 [CI SKIP]
  pom.xml
Due: deploy, verify

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.9 to 4.10.10
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update org.openapitools from 7.20.0 to 7.21.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency org.openapitools:jackson-databind-nullable from 0.2.9 to 0.2.10
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by org.openapitools:jackson-databind-nullable 0.2.10
  src/it/test-model-base-class/pom.xml
  src/it/test-model-examples/pom.xml
  src/it/test-model-only-jackson/pom.xml
Due: verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.10 to 4.10.11
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.11 to 4.10.12
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update maven docker tag from 3.9.14-eclipse-temurin-17 to 3.9.15-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify

chore(deps): update dependency org.apache.maven.plugins:maven-invoker-plugin from 3.9.1 to 3.10.0
  pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.12 to 4.10.13
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update org.openapitools from 7.21.0 to 7.22.0
  pom.xml
  src/it/pom.xml
Due: deploy, verify

fix: changes by v7.22.0
  gen/main/java/testmodel/jaxrs/InheritanceWithEnumType1.java
  gen/main/java/testmodel/jaxrs/InheritanceWithEnumType2.java
  gen/main/java/testmodel/jaxrs/InheritanceWithEnumType3.java
  gen/main/java/testmodel/jaxrs/InheritanceWithStringType1.java
  gen/main/java/testmodel/jaxrs/InheritanceWithStringType2.java
  gen/main/java/testmodel/jaxrs/InheritanceWithoutType1.java
  gen/main/java/testmodel/jaxrs/InheritanceWithoutType2.java
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-invoker-plugin from 3.10.0 to 3.10.1
  pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.13 to 4.10.14
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update maven docker tag from 3.9.15-eclipse-temurin-17 to 3.9.16-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify

chore(deps): update dependency org.apache.maven.plugins:maven-site-plugin from 3.21.0 to 3.22.0
  pom.xml
Due: deploy, verify

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.5 to 3.5.6
  pom.xml
  src/it/pom.xml
Due: deploy, verify

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.14 to 4.10.15
  pom.xml
  src/it/pom.xml
Due: deploy, verify
